html, body {
    background: url(../images/black-bg.png);
    color: #d4d4d4;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
.row {
  padding: 25px 0 0 0;
}
.nopad {
  padding:0;
}
.rel-position{
  position: relative;
}

p.number {
    font-size: 100px;
    display: inline-block;
}
.wins-losses {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.score-box {
    border-left: 1px solid rgba(212, 212, 212, .5);
    border-right: 1px solid rgba(212, 212, 212, .5);
}
.scores-p {
  font-size: 40px;
  position: absolute;
  bottom: 0;
}
.white-border {
  display: block;
  box-sizing: border-box;
  contain: content;
  border: 1px solid rgba(255, 255, 255, .5);
  margin: 0 15px;
  position: relative;
}
.white-border>div {
    padding-bottom: 10px;
}
.side-text {
  display: inline-block;
  top: 0;
  font-size: 30px;
  padding-left: 10px;
}
.card-container {
    margin-top: 10px;
}
.modal-title {color:#333;}
.modal-body p {
    color: #333;
    line-height: 22px;
    margin-bottom: 10px;
}
.logo-container {
  overflow:hidden;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;

}
h1:after {
	content:"CRYSTAL COLLECTOR";
	position:absolute;
	left:15px;
	top:0;
	bottom:0;
	width:99em;
	background-image: -webkit-linear-gradient(left, #ff217c 0%, #634077 20%, #ff217c 40%, #634077 50%, #ff217c 70%, #634077 90%, #ff217c 100% );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: kaleidoscope 45s ease infinite;
}
 @-webkit-keyframes kaleidoscope {
 0% {
 background-position: 0 0;
}
 25% {
 background-position: -25em 0;
}
 50% {
 background-position: -50em 0;
}
 75% {
 background-position: -75em 0;
}
 100% {
 background-position: -99em 0;
}
}
button.btn {
    background: #177282;
    padding-bottom: 8px;
    padding: 6px 25px 8px 25px;
    font-size: 16px;
    border: 0;
    margin-top: 12px;
    transition: all .3s ease-in-out;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #d4d4d4;
    text-decoration: none;
    background: #1a3541;
}

/*Card Animation*/
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
